footer {
    padding: 0.1px;
    margin-top: 25px;
    background-color: var(--main-tex-color);
    color: var(--main-text-light);
    grid-area: footer;

    ul {
        list-style: none;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
        color: var(--main-text-light);
        font-weight: 600;
    }

   
    .boton-wap{ position: fixed;
        bottom: 30px;
        right: 20px;
        font-size: 2.5rem;
        padding: 20px;
        z-index: 1000;
        transition: transform 0.2s ease;
        }

        &:hover {
            ;
          }

        
}